html * {
  font-family: 'Roboto', sans-serif;
}

.breadcrumb {
  position: sticky;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: white;
  text-align: center;
  margin-bottom: 0;
}

.container {
	width: 100%;
	max-width: 1200px;
	margin-left: auto;
  margin-right: auto;
  margin-top: 80px;
  
}

textarea {
	width: 500px;
	height: 200px;
	border: 3px solid #cccccc;
  padding: 20px;
  border: 5px solid var(--secondary);
  margin-top: 100px;
}

form {
  width: 80%;
  margin-left: 300px;
  
}

input {
	font-size: 1rem;
	padding: 0.75rem;
	border: 1px solid var(--dark);
	outline: none;
	border-radius: 3px;
  transition: box-shadow 0.2s;
  border: 5px solid var(--secondary);
  
}

input:focus {
	border: 5px solid var(--secondary);
	box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.5);
}


img {
  width: 40%;
}

.jumbotron {
  text-align: center;
  padding: 40px;
  width: 100%;
  background-color: green;
  color: white;
}

.projectContainer {
  margin: 10px;
}

.row {
  justify-content: left;
}

.card-img-top {
  height: 100px;
}

.badgeContainer {
  margin: 10px;
}

.progress {
  margin-top: 10px;
}

li {
  list-style-position: inside;
  margin-bottom: 5px;
}

input {
  margin: 10px;
}

.dropdownForm {
  margin: 5px;
  
}

.formButtons {
  margin: 50px;
}

.social-icon {
  margin: 10px;
}
.styles_closeIcon__1QwbI {
  margin: 10px;
  display: overflow;
}
h5 {
  padding: 15px;
}

h1 {
  padding: 15px;
  margin-left: 500px;


}

.modal-header {
  color: white;
  background-color: aqua;
  margin: 10px;
}

.modal-body {
  font-size: 20px;
  font-weight: normal;
}
.modal-footer {
  display: block;
}

#viewCode {
  float: left;
}



h3 {
  padding-left: 2em;
}

.contact-text {
  margin: 0 1em;
  padding-bottom: 3em;
}

.contact-form {
  margin: 0 1.5em 1.5em 1.5em
}

.submit-button {
  background-color: blue;
  outline: #BA181B;
  border-color: #BA181B;
}

.submit-button:hover {
  background-color: var(--accent-dark);
  outline: #BA181B;
  border-color: #BA181B;
}

.my-invalid {
  border-color: #dc3545 !important;
padding-right: calc(1.5em + 0.75rem) !important;
background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' fill='none' stroke='%23dc3545' viewBox='0 0 12 12'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/%3e%3c/svg%3e") !important;
background-repeat: no-repeat !important;
background-position: right calc(0.375em + 0.1875rem) center !important;
background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem) !important;
}

.my-valid {
  border-color: #28a745;
  padding-right: calc(1.5em + 0.75rem);
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath fill='%2328a745' d='M2.3 6.73L.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right calc(0.375em + 0.1875rem) center;
  background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
}
